header {
  background-color: #53d0d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  
}

.header__logo {
  max-width: 24rem;
  align-self: center;
}
