@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
  background-color: #f1f3f6;
  color: #1c2430;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #53d0d1;
  border: 2px solid #53d0d1;
  width: fit-content;
  padding: 0.75rem;
}

section,
.kontakt {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 
}

section,
.kontakt > * {
  align-self: center;
  color: #53d0d1;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.o-mnie {
  border: 2px solid #53d0d1;
  font-weight: 1rem;
  padding: 0.75rem;
  max-width: 80rem;
}

.books__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: repeat(2, 1fr);
  max-width: 80rem;
  justify-content: center;
  margin: auto;
}

// max-width: 40rem;
// justify-content: end;

// main > p {
//   margin-bottom: 2rem;
// }

// main > div {
//   background-color: #fff;
//   padding: 1rem;
//   border-radius: 0.25rem;
//   margin-bottom: 2rem;
// }

